In [ ]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
import csv
import os

driver = webdriver.Chrome()
driver.get('https://fbref.com/en/comps/9/2024-2025/2024-2025-Premier-League-Stats')

wait = WebDriverWait(driver, 10)
teams_names = []

teams_table = wait.until(EC.presence_of_element_located((By.ID, 'results2024-202591_overall')))
teams = teams_table.find_elements(By.CSS_SELECTOR, 'tbody > tr > .left')

base_folder = "Bronze"

if not os.path.exists(base_folder):
    os.makedirs(base_folder)

for i in range(len(teams)):
    teams_table = wait.until(EC.presence_of_element_located((By.ID, 'results2024-202591_overall')))
    teams = teams_table.find_elements(By.CSS_SELECTOR, 'tbody > tr > .left')

    try:
        link = teams[i].find_element(By.TAG_NAME, 'a')
    except:
        continue

    print(f"Scraping {link.text}")
    driver.execute_script("arguments[0].scrollIntoView({block: 'center'});", link)
    time.sleep(0.5)
    teams_names.append(link.text)

    folder_name = link.text.replace("/", "-")  
    team_folder = os.path.join(base_folder, folder_name)
    csv_file = f'{folder_name}_players.csv'
    csv_file2 = f'{folder_name}_matchs.csv'

    if not os.path.exists(team_folder):
        os.makedirs(team_folder)

    csv_file_path = os.path.join(team_folder, csv_file)
    csv_file_path2 = os.path.join(team_folder, csv_file2)

    time.sleep(1)
    link.click()
    wait.until(EC.presence_of_element_located((By.TAG_NAME, 'body')))
    wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, '#stats_standard_9 > thead > tr > th')))

    # --- PLAYER TABLE ---
    with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)

        players_table_header = driver.find_elements(By.CSS_SELECTOR, '#stats_standard_9 > thead > tr:not(.over_header) > th')[:16]
        writer.writerow([h.text.strip() for h in players_table_header])

        rows = driver.find_elements(By.CSS_SELECTOR, '#stats_standard_9 > tbody > tr')
        for row in rows:
            cells = [td.text.strip() for td in row.find_elements(By.CSS_SELECTOR, "th, td")[:16]]
            writer.writerow(cells)

    print(f"get player table for {folder_name}")

    # --- MATCH TABLE ---
    with open(csv_file_path2, mode='w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)

        matchs_table_header = driver.find_elements(By.CSS_SELECTOR, '#matchlogs_for > thead > tr > th')[:18]
        writer.writerow([h.text.strip() for h in matchs_table_header])

        matchs_rows = driver.find_elements(By.CSS_SELECTOR, '#matchlogs_for > tbody > tr')
        for tr in matchs_rows:
            cells = [td.text.strip() for td in tr.find_elements(By.CSS_SELECTOR, "th, td")[:18]]
            writer.writerow(cells)

    print(f"get match table for {folder_name}")

    driver.back()
    time.sleep(0.5)
    wait.until(EC.presence_of_element_located((By.ID, 'results2024-202591_overall')))
    wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, 'tbody > tr > .left > a')))

with open(os.path.join(base_folder,'Teams.csv'), mode='w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(['Team Name'])
        for team_name in teams_names:
            writer.writerow([team_name])

driver.quit()
print('Done. Teams scraped:', teams_names)

In [ ]:
import pandas as pd
import numpy as np
import re

silver_folder = "Silver"

if not os.path.exists(silver_folder):
    os.makedirs(silver_folder)  

teams_file = os.path.join("Bronze", "Teams.csv")
teams_df = pd.read_csv(teams_file)   


def clean_player_dataframe(df):

    players = df[~df['Pos'].astype(str).str.contains('Playing Time', na=False)].copy()
    players = players[players['Player'] != 'Player']

    for col in ['Min']:
        players[col] = (
            players[col]
            .astype(str)
            .str.replace(",", "", regex=False)
            .replace("nan", np.nan)
        )

    numeric_cols = ['Age','MP','Starts','Min','90s','Gls','Ast','G+A','G-PK','PK','PKatt','CrdY','CrdR']
    for col in numeric_cols:
        players[col] = pd.to_numeric(players[col], errors='coerce')

    players['Nation'] = players['Nation'].astype(str).str.extract(r'([A-Z]{3})')

    players[['Pos', 'Secondary_Pos']] = (players['Pos'].astype(str).str.split(pat=',', n=1, expand=True)
)

    players['Pos'] = players['Pos'].str.strip()
    players['Secondary_Pos'] = players['Secondary_Pos'].str.strip()

    players[numeric_cols] = players[numeric_cols].fillna(0)

    return players

def extract_penalty(value):

    if pd.isna(value) or str(value).strip() == "":
        return (np.nan, 0)
    m = re.match(r"(\d+)\s*\((\d+)\)", str(value))
    if m:
        return (int(m.group(1)), int(m.group(2)))
    else:
        num = re.match(r"^\d+$", str(value))
        return (int(num.group(0)), 0) if num else (np.nan, 0)


def extract_time(value):
    text = str(value).strip()
    text = re.sub(r"\(\d{1,2}:\d{2}\)", "", text).strip()

    match = re.search(r"\b(\d{1,2}:\d{2})\b", text)
    return match.group(1) if match else np.nan

def clean_match_dataframe(df):
    matches = df[df['Date'] != 'Date'].copy()

    replace_teams = {
        'it Inter': 'Inter Milan',
        'sk Slovan Bratislava': 'Slovan Bratislava',
        'cz Sparta Prague': 'Sparta Prague',
        'pt Sporting CP': 'Sporting CP',
        'nl Feyenoord': 'Feyenoord',
        'es Real Madrid': 'Real Madrid',
        'fr Paris S-G': 'Paris Saint-Germain'
    }
    matches['Opponent'] = matches['Opponent'].replace(replace_teams)

    matches['Attendance'] = (
        matches['Attendance'].astype(str).str.replace(",", "").astype(float)
    )

    matches[['GF', 'GF_Pen']] = matches['GF'].apply(lambda x: pd.Series(extract_penalty(x)))
    matches[['GA', 'GA_Pen']] = matches['GA'].apply(lambda x: pd.Series(extract_penalty(x)))

    for col in ['GF', 'GA', 'GF_Pen', 'GA_Pen']:
        matches[col] = pd.to_numeric(matches[col], errors='coerce').fillna(0).astype(int)

    matches['Formation'] = matches['Formation'].astype(str).str.replace("◆", "")
    matches['Opp Formation'] = matches['Opp Formation'].astype(str).str.replace("◆", "")

    matches['Time'] = matches['Time'].apply(extract_time)

    matches['Result'] = matches['Result'].str.strip().replace({
        'W': 'Victoire',
        'L': 'Défaite',
        'D': 'Nul',
        'Win': 'Victoire',
        'Loss': 'Défaite',
        'Draw': 'Nul'
    })

    for col in ['xG', 'xGA', 'Poss']:
        matches[col] = pd.to_numeric(matches[col], errors='coerce')

    return matches


for team_name in teams_df['Team Name']:
    team_folder = os.path.join("Bronze", team_name)
    silver_team_folder = os.path.join(silver_folder, team_name)

    if not os.path.exists(silver_team_folder):
        os.makedirs(silver_team_folder)

    player_file = os.path.join(team_folder, f"{team_name}_players.csv")
    match_file = os.path.join(team_folder, f"{team_name}_matchs.csv")

    if os.path.exists(player_file):
        players_df = pd.read_csv(player_file)
        players_clean = clean_player_dataframe(players_df)
        players_clean.to_csv(os.path.join(silver_team_folder, "players_clean.csv"), index=False)
        print(f"Cleaned player data for {team_name}")
    
    if os.path.exists(match_file):
        matchs_df = pd.read_csv(match_file)
        matchs_clean = clean_match_dataframe(matchs_df)
        matchs_clean.to_csv(os.path.join(silver_team_folder, "matchs_clean.csv"), index=False)
        print(f"Cleaned match data for {team_name}")

print("Data transformation completed.")

In [ ]:
gold_folder = "Gold"

if not os.path.exists(gold_folder):
    os.makedirs(gold_folder)

all_players = []
all_matches = []

for team_name in os.listdir(silver_folder):
    team_folder = os.path.join(silver_folder, team_name)
    if not os.path.isdir(team_folder):
        continue 

    players_path = os.path.join(team_folder, "players_clean.csv")
    matchs_path = os.path.join(team_folder, "matchs_clean.csv")

    if os.path.exists(players_path):
        df_players = pd.read_csv(players_path)
        df_players["Team"] = team_name  
        all_players.append(df_players)

    if os.path.exists(matchs_path):
        df_matchs = pd.read_csv(matchs_path)
        df_matchs["Team"] = team_name 
        all_matches.append(df_matchs)

players_gold = pd.concat(all_players, ignore_index=True)
matchs_gold = pd.concat(all_matches, ignore_index=True)
players_gold.to_csv(os.path.join(gold_folder, "players_gold.csv"), index=False)
matchs_gold.to_csv(os.path.join(gold_folder, "matchs_gold.csv"), index=False)

print("Gold CSVs created")

In [5]:
from sqlalchemy import create_engine,MetaData, Table, Column, Integer, VARCHAR, TIMESTAMP, ForeignKey, Enum

connection_string = f"postgresql://postgres:123@localhost:5432/Football"
engine = create_engine(connection_string)

metadata = MetaData()


competition = Table('competition',
    metadata,
    Column('id_competition', Integer, primary_key=True, autoincrement=True),
    Column('nomcompetition', VARCHAR)
)

saison = Table('saison',
    metadata,
    Column('id_saison', Integer, primary_key=True, autoincrement=True),
    Column('annee', VARCHAR)
)

equipe = Table('equipe',
    metadata,
    Column('id_equipe', Integer, primary_key=True, autoincrement=True),
    Column('nom_equipe', VARCHAR)
)

joueur = Table('joueur',
    metadata,
    Column('id_joueur', Integer, primary_key=True, autoincrement=True),
    Column('nom_joueur', VARCHAR),
    Column('position', VARCHAR),
    Column('nationalite', VARCHAR),
    Column('id_equipe', ForeignKey('equipe.id_equipe'))
)

match_ = Table('match',
    metadata,
    Column('id_match', Integer, primary_key=True, autoincrement=True),
    Column('date_match', TIMESTAMP),
    Column('round', VARCHAR),
    Column('venue', VARCHAR),
    Column('id_team_home', ForeignKey('equipe.id_equipe')),
    Column('id_team_away', ForeignKey('equipe.id_equipe')),
    Column('id_competition', ForeignKey('competition.id_competition')),
    Column('id_saison', ForeignKey('saison.id_saison'))
)

resultatmatch = Table('resultat_match',
    metadata,
    Column('id_resultat', Integer, primary_key=True, autoincrement=True),
    Column('id_match', ForeignKey('match.id_match')),
    Column('id_equipe', ForeignKey('equipe.id_equipe')),
    Column('buts_marques', Integer),
    Column('buts_concedes', Integer),
    Column('resultat', Enum('Victoire', 'Défaite', 'Nul', name='resultat_enum'))
)

statistiquejoueur = Table('statistique_joueur',
    metadata,
    Column('id_stats', Integer, primary_key=True, autoincrement=True),
    Column('id_joueur', ForeignKey('joueur.id_joueur')),
    Column('buts', Integer),
    Column('passes_decisives', Integer),
    Column('nb_matches_played', Integer),
    Column('cartons_jaunes', Integer),
    Column('cartons_rouges', Integer)
)

metadata.create_all(engine)

In [ ]:
from sqlalchemy import insert , select

import pandas as pd
players_df = pd.read_csv("Gold/players_gold.csv")
matches_df = pd.read_csv("Gold/matchs_gold.csv")

teams = players_df['Team'].unique()

for team_name in teams:
    with engine.begin() as conn:
        conn.execute(
            insert(equipe),[
                {"nom_equipe" : team_name},
                ]
                    )

# Map team name → id
team_map = {}
with engine.begin() as conn:
    rows = conn.execute(select(equipe)).fetchall()
    for row in rows:
        team_map[row.nom_equipe] = row.id_equipe

with engine.begin() as conn:
    conn.execute(insert(saison), [{"annee": '2024-2025'}])

id_saison = None
with engine.begin() as conn:
    id_saison = conn.execute(select(saison.c.id_saison).where(saison.c.annee == '2024-2025')).scalar()

# Competitions
competitions = matches_df["Comp"].unique()

for comp_name in competitions:
    with engine.begin() as conn:
        conn.execute(insert(competition), [{"nomcompetition": comp_name}])

# Map competition name → id
comp_map = {}
with engine.begin() as conn:
    rows = conn.execute(select(competition)).fetchall()
    for row in rows:
        comp_map[row.nomcompetition] = row.id_competition

# Players
for _, row in players_df.iterrows():
    team_id = team_map.get(row["Team"])
    if not team_id:
        continue
    with engine.begin() as conn:
        conn.execute(
            insert(joueur),
            [{
                "nom_joueur": row["Player"],
                "position": row["Pos"],
                "nationalite": row["Nation"],
                "id_equipe": team_id
            }]
        )

# Map player name → id
player_map = {}
with engine.begin() as conn:
    rows = conn.execute(select(joueur)).fetchall()
    for row in rows:
        player_map[row.nom_joueur] = row.id_joueur

# Matches
from datetime import datetime

for _, row in matches_df.iterrows():
    comp_id = comp_map.get(row["Comp"])
    home_id = team_map.get(row["Team"])
    away_id = team_map.get(row["Opponent"])
    try:
        date_obj = datetime.strptime(str(row["Date"]), "%Y-%m-%d")
    except Exception:
        continue

    time_str = str(row["Time"]).strip()
    if time_str and time_str.lower() != "nan":
        try:
            time_obj = datetime.strptime(time_str, "%H:%M").time()
            datetime_combined = datetime.combine(date_obj.date(), time_obj)
        except ValueError:
            datetime_combined = date_obj
    else:
        datetime_combined = date_obj

    with engine.begin() as conn:
        conn.execute(
            insert(match_),
            [{
                "date_match": datetime_combined,
                "round": str(row["Round"]),
                "venue": str(row["Venue"]),
                "id_team_home": home_id,
                "id_team_away": away_id,
                "id_competition": comp_id,
                "id_saison": id_saison
            }]
        )

# Map match to id
match_map = {}
with engine.begin() as conn:
    rows = conn.execute(select(match_)).fetchall()
    for row in rows:
        match_map[(row.id_team_home, row.id_team_away, row.date_match)] = row.id_match

# Results
for _, row in matches_df.iterrows():
    home_id = team_map.get(row["Team"])
    away_id = team_map.get(row["Opponent"])
    try:
        date_obj = datetime.strptime(str(row["Date"]), "%Y-%m-%d")
    except Exception:
        continue

    for key in match_map.keys():
        if key[0] == home_id and key[1] == away_id and key[2].date() == date_obj.date():
            match_id = match_map[key]
            break
        if not match_id:
            continue

    with engine.begin() as conn:
        conn.execute(
            insert(resultatmatch),
            [{
                "id_match": match_id,
                "id_equipe": home_id,
                "buts_marques": int(row["GF"]),
                "buts_concedes": int(row["GA"]),
                "resultat": row["Result"]
            }]
        )

# Player Stats
for _, row in players_df.iterrows():
    player_id = player_map.get(row["Player"])
    if not player_id:
        continue
    with engine.begin() as conn:
        conn.execute(
            insert(statistiquejoueur),
            [{
                "id_joueur": player_id,
                "buts": int(row["Gls"]),
                "passes_decisives": int(row["Ast"]),
                "nb_matches_played": int(row["MP"]),
                "cartons_jaunes": int(row["CrdY"]),
                "cartons_rouges": int(row["CrdR"])
            }]
        )

    Top 10 des meilleurs buteurs — Identifier les joueurs ayant marqué le plus de buts.

In [7]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT j.nom_joueur, e.nom_equipe, s.buts
FROM joueur j
JOIN statistique_joueur s ON j.id_joueur = s.id_joueur
JOIN equipe e ON j.id_equipe = e.id_equipe
ORDER BY s.buts DESC
LIMIT 10;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

             nom_joueur       nom_equipe  buts
0         Mohamed Salah        Liverpool    29
1        Alexander Isak    Newcastle Utd    23
2        Erling Haaland  Manchester City    22
3            Chris Wood  Nott'ham Forest    20
4          Bryan Mbeumo        Brentford    20
5           Yoane Wissa        Brentford    19
6         Ollie Watkins      Aston Villa    16
7           Cole Palmer          Chelsea    15
8         Matheus Cunha           Wolves    15
9  Jean-Philippe Mateta   Crystal Palace    14


    Joueurs les plus décisifs — Calculer le total buts + passes décisives pour repérer les joueurs les plus influents.

In [8]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT j.nom_joueur, e.nom_equipe,
       (s.buts + s.passes_decisives) AS total_contributions
FROM joueur j
JOIN statistique_joueur s ON j.id_joueur = s.id_joueur
JOIN equipe e ON j.id_equipe = e.id_equipe
ORDER BY total_contributions DESC
LIMIT 10;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

       nom_joueur       nom_equipe  total_contributions
0   Mohamed Salah        Liverpool                   47
1  Alexander Isak    Newcastle Utd                   29
2    Bryan Mbeumo        Brentford                   27
3  Erling Haaland  Manchester City                   25
4   Ollie Watkins      Aston Villa                   24
5     Yoane Wissa        Brentford                   23
6     Cole Palmer          Chelsea                   23
7      Chris Wood  Nott'ham Forest                   23
8    Jarrod Bowen         West Ham                   21
9   Matheus Cunha           Wolves                   21


    Joueurs les plus disciplinés — Analyser les statistiques de cartons jaunes et rouges.

In [9]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT j.nom_joueur, e.nom_equipe,
       s.cartons_jaunes, s.cartons_rouges
FROM joueur j
JOIN statistique_joueur s ON j.id_joueur = s.id_joueur
JOIN equipe e ON j.id_equipe = e.id_equipe
ORDER BY s.cartons_rouges ASC, s.cartons_jaunes ASC
LIMIT 10;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

              nom_joueur      nom_equipe  cartons_jaunes  cartons_rouges
0     Jack Henry-Francis         Arsenal               0               0
1           Ismeal Kabia         Arsenal               0               0
2             Jimi Gower         Arsenal               0               0
3           Ayden Heaven  Manchester Utd               0               0
4           Reiss Nelson          Fulham               0               0
5         Kieran Tierney         Arsenal               0               0
6      Takehiro Tomiyasu         Arsenal               0               0
7         Brayden Clarke         Arsenal               0               0
8  Nathan Butler-Oyedeji         Arsenal               0               0
9        Maldini Kacurri         Arsenal               0               0


    Répartition des nationalités des joueurs par équipe.

In [10]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe, j.nationalite, COUNT(*) AS nombre_joueurs
FROM joueur j
JOIN equipe e ON j.id_equipe = e.id_equipe
GROUP BY e.nom_equipe, j.nationalite
ORDER BY e.nom_equipe, nombre_joueurs DESC;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

    nom_equipe nationalite  nombre_joueurs
0      Arsenal         ENG              16
1      Arsenal         BRA               4
2      Arsenal         ESP               2
3      Arsenal         ITA               2
4      Arsenal         NED               2
..         ...         ...             ...
320     Wolves         FRA               1
321     Wolves         ALG               1
322     Wolves         IRL               1
323     Wolves         WAL               1
324     Wolves         NOR               1

[325 rows x 3 columns]

    Nombre total de buts par équipe — Évaluer la puissance offensive de chaque équipe.

In [17]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe, SUM(r.buts_marques) AS total_buts
FROM resultat_match r
JOIN equipe e ON r.id_equipe = e.id_equipe
GROUP BY e.nom_equipe
ORDER BY total_buts DESC;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

         nom_equipe  total_buts
0         Liverpool         123
1           Chelsea         120
2   Manchester City         114
3           Arsenal         112
4         Tottenham         105
5    Manchester Utd          99
6       Aston Villa          93
7     Newcastle Utd          88
8          Brighton          83
9    Crystal Palace          74
10        Brentford          72
11      Bournemouth          67
12           Fulham          64
13  Nott'ham Forest          64
14           Wolves          63
15         West Ham          49
16          Everton          48
17   Leicester City          46
18     Ipswich Town          46
19      Southampton          39

    Moyenne de buts marqués et encaissés par match — Mesurer l’efficacité et la défense moyenne des équipes.

In [18]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe,
       ROUND(AVG(r.buts_marques), 2) AS moyenne_buts_marques,
       ROUND(AVG(r.buts_concedes), 2) AS moyenne_buts_concedes
FROM resultat_match r
JOIN equipe e ON r.id_equipe = e.id_equipe
GROUP BY e.nom_equipe
ORDER BY moyenne_buts_marques DESC;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

         nom_equipe moyenne_buts_marques moyenne_buts_concedes
0         Liverpool                 2.20                  0.98
1           Chelsea                 2.11                  1.04
2   Manchester City                 2.00                  1.26
3           Arsenal                 1.93                  0.90
4          Brighton                 1.84                  1.47
5     Newcastle Utd                 1.83                  1.15
6         Tottenham                 1.75                  1.48
7         Brentford                 1.67                  1.47
8    Manchester Utd                 1.65                  1.38
9       Aston Villa                 1.63                  1.25
10      Bournemouth                 1.56                  1.19
11   Crystal Palace                 1.54                  1.19
12           Wolves                 1.47                  1.72
13  Nott'ham Forest                 1.45                  1.18
14           Fulham                 1.45                  1.39
15         West Ham                 1.20                  1.68
16          Everton                 1.14                  1.12
17     Ipswich Town                 1.10                  2.05
18   Leicester City                 1.07                  2.07
19      Southampton                 0.89                  2.16

    Classement des équipes — Établir un classement basé sur les résultats (victoire = 3 pts, nul = 1 pt).

In [19]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe,
       SUM(CASE WHEN r.resultat = 'Victoire' THEN 3
                WHEN r.resultat = 'Nul' THEN 1
                ELSE 0 END) AS points,
       SUM(r.buts_marques) AS buts_marques,
       SUM(r.buts_concedes) AS buts_concedes,
       SUM(r.buts_marques - r.buts_concedes) AS difference_buts
FROM resultat_match r
JOIN equipe e ON r.id_equipe = e.id_equipe
GROUP BY e.nom_equipe
ORDER BY points DESC, difference_buts DESC;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

         nom_equipe  points  buts_marques  buts_concedes  difference_buts
0         Liverpool     123           123             55               68
1           Chelsea     114           120             59               61
2           Arsenal     113           112             52               60
3       Aston Villa     106            93             71               22
4   Manchester City     101           114             72               42
5     Newcastle Utd      91            88             55               33
6         Tottenham      86           105             89               16
7    Manchester Utd      86            99             83               16
8    Crystal Palace      80            74             57               17
9          Brighton      77            83             66               17
10  Nott'ham Forest      72            64             52               12
11           Fulham      65            64             61                3
12      Bournemouth      63            67             51               16
13        Brentford      63            72             63                9
14          Everton      55            48             47                1
15           Wolves      52            63             74              -11
16         West Ham      46            49             69              -20
17   Leicester City      32            46             89              -43
18     Ipswich Town      30            46             86              -40
19      Southampton      22            39             95              -56

    Équipes avec la meilleure défense (par buts concédés)

In [20]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe, SUM(r.buts_concedes) AS total_buts_concedes
FROM resultat_match r
JOIN equipe e ON r.id_equipe = e.id_equipe
GROUP BY e.nom_equipe
ORDER BY total_buts_concedes ASC
LIMIT 10;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

        nom_equipe  total_buts_concedes
0          Everton                   47
1      Bournemouth                   51
2  Nott'ham Forest                   52
3          Arsenal                   52
4        Liverpool                   55
5    Newcastle Utd                   55
6   Crystal Palace                   57
7          Chelsea                   59
8           Fulham                   61
9        Brentford                   63

    Meilleurs buteurs par équipe — Identifier le meilleur buteur dans chaque formation.

In [21]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe, j.nom_joueur, s.buts
FROM joueur j
JOIN statistique_joueur s ON j.id_joueur = s.id_joueur
JOIN equipe e ON j.id_equipe = e.id_equipe
WHERE s.buts = (
    SELECT MAX(s2.buts)
    FROM joueur j2
    JOIN statistique_joueur s2 ON j2.id_joueur = s2.id_joueur
    WHERE j2.id_equipe = j.id_equipe
)
ORDER BY e.nom_equipe;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

         nom_equipe            nom_joueur  buts
0           Arsenal           Kai Havertz     9
1       Aston Villa         Ollie Watkins    16
2       Bournemouth       Justin Kluivert    12
3         Brentford          Bryan Mbeumo    20
4          Brighton          Kaoru Mitoma    10
5          Brighton         Danny Welbeck    10
6          Brighton            João Pedro    10
7           Chelsea           Cole Palmer    15
8    Crystal Palace  Jean-Philippe Mateta    14
9           Everton         Iliman Ndiaye     9
10           Fulham          Raúl Jiménez    12
11     Ipswich Town            Liam Delap    12
12   Leicester City           Jamie Vardy     9
13        Liverpool         Mohamed Salah    29
14  Manchester City        Erling Haaland    22
15   Manchester Utd       Bruno Fernandes     8
16   Manchester Utd           Amad Diallo     8
17    Newcastle Utd        Alexander Isak    23
18  Nott'ham Forest            Chris Wood    20
19      Southampton          Paul Onuachu     4
20        Tottenham       Brennan Johnson    11
21         West Ham          Jarrod Bowen    13
22           Wolves         Matheus Cunha    15

    Nombre total de matchs joués par équipe — Comptabiliser les participations de chaque équipe au cours de la saison.

In [22]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""SELECT e.nom_equipe, COUNT(r.id_match) AS nb_matchs
FROM resultat_match r
JOIN equipe e ON r.id_equipe = e.id_equipe
GROUP BY e.nom_equipe
ORDER BY nb_matchs DESC;"""))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(df)

         nom_equipe  nb_matchs
0    Manchester Utd         60
1         Tottenham         60
2           Arsenal         58
3       Aston Villa         57
4           Chelsea         57
5   Manchester City         57
6         Liverpool         56
7    Crystal Palace         48
8     Newcastle Utd         48
9          Brighton         45
10           Fulham         44
11      Southampton         44
12  Nott'ham Forest         44
13           Wolves         43
14        Brentford         43
15      Bournemouth         43
16   Leicester City         43
17          Everton         42
18     Ipswich Town         42
19         West Ham         41